html
{
	height: 100%;
	width: 100%;
}

body
{
	height: 100%;
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}

h1
{
	color: black;
}
